<div class="item">
    <div class="item-name">{{name}}</div>
    <div class="item-description">{{description}}</div>
    <div class="item-price">{{price}}</div>
    <button data-role="toCart" data-id="{{id}}">в корзину</button>
</div>
